header {
  height: 400px;
  width: 100%;
  background-color: #407CB8;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}