nav {
  height: 90px; /* Suppose to be 120 according to compass but I like 90 px*/
  width:  100%; 
  background-color: #4056A1;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
}

body {
  margin-top: 90px;
}

span {
  margin-left: 1.5em;
  margin-top: 1.5em; 
  margin-bottom: 1.5em;
  font-family: 'Bungee', cursive;
}

a {
  margin-right: 1.5em;
  margin-top: 1.5em; 
  margin-bottom: 1.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}