.tweet-container {
  border-style: solid;
  width: 100%;
}
.tweet-container:hover {
  box-shadow: 5px 5px grey;
}

.tweet-container:hover .tweeterUsername {
  display: block;
}

.inner-container {
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  margin-right: 1.5em;
}

.name-bar {
  display: flex;
  justify-content: space-between;
}

.tweeterUsername {
  display: none;
}

.tweet {
  width: 100%;
  display: flex;
}

.separator {
  border: none;
  height: 3px;
  background-color: #000000;
}

.tweet-date {
  font-size: 16px;
  margin-top: 1em;
}

.feed-space {
  margin-top: 1em;
}